
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

html {
  font-family: 'montserrat', sans-serif;
  background-color: #dadada;
}
h1 {
  font-family: 'graduate', serif;
  color: darkblue;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  font-weight: bolder;
}
h2 {
  font-family: 'goblin one', cursive;
  color: rgb(90, 90, 90);
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 0;
}
section h2, p {
  text-indent: 2rem;
}
a {
  color: #229e83;
}
a:hover, a:focus {
  color: #00b80f;
  text-decoration: none;
}
a:visited {
  color: blue;
}a:active {
  color: red;
}
a[href*="http"] {
  padding-right: 20px;
  background: url("external-link-52.png") no-repeat right center;
  background-size: 20px 20px;
}
p, li {
  line-height: 1.6;
  letter-spacing: 0.7px;
}
ul {
  list-style-type: square;
}
ol {
  list-style-type: upper-roman;
}
ul, ol {
  margin: 30px;
}


nav li {
  list-style-type: none;
  margin-bottom: 1rem;
}
nav ul {
  padding-left: 0;
}
nav li a {
  font-family: 'graduate', serif;
  display: inline-block;
  width: 110%;
  line-height: 3;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 5px solid #aa6666;
  text-decoration: none;
}
nav li a:focus,
nav li a:hover {
  color: white;
  background: #aa6666;
}
nav li a:active {
  color: white;
  background: black;
}