/*
Durham College - Computer Programming and Analysis
INFT 1206 Web Development Fundamentals [Dr. Muath Alzghool]
Daniel Doro Leao
Date: 2026-02-04
Activity Name: Assignment 3 | Part 1: Biography Page
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

body {
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}

h1 {
  color: darkslategray;
  border-bottom: 10px dotted purple;
  font-size: 2rem;
}

h2 {
  font-style: italic;
}

.jobtitle {
  color: darkslategray;
  font-weight: bold;
}

a {
  color: green;  
}
a:hover,
a:focus {
  color: darkgreen;
  text-decoration: none;
}